[Unit]
Description=Mount Android Device

[Service]
User=ashish
Environment=DISPLAY=:0 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/home/ashish/.scripts/systemd/android-mount.sh
KillMode=process
