[Unit]
Description=Custom goimapnotify Service

[Service]
Type=simple
ExecStartPre=-sigdsblocks 3
ExecStart=goimapnotify -conf /home/ashish/.config/imapnotify/iiser.yaml
Restart=always
RestartSec=60
