# environment variables

  DISPLAY=:0
  DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

# mm    hh      DD      MM      W       command

  00    06      *       *       *       redshift -x
  00    22      *       *       *       redshift -PO 4500
  00    22      *       *       6       /home/ashish/.scripts/cron/maintenance.sh
  00    00      *       *       0       trash-empty -f 7
