#!/bin/sh
export BROWSER=brave
#export EDITOR=nvim
export ESCDELAY=0
#export FZF_ALT_C_COMMAND="fd -HL -td -d4 | LC_COLLATE=C sort -f"
#export FZF_CTRL_T_COMMAND="fd -HL -tf -d4 | LC_COLLATE=C sort -f"
#export FZF_DEFAULT_COMMAND="fd -HL -tf -d4 | LC_COLLATE=C sort -f"
#export FZF_DEFAULT_OPTS="--layout=reverse --bind='change:top,ctrl-g:top,ctrl-f:page=down,ctrl-b:page-up,ctrl-q:clear-selection,ctrl-v:select-all,ctrl-z:deselect-all,ctrl-s:toggle,ctrl-t:toggle-all,ctrl-y:execute-silent(echo -n {} | xclip -selection clipboard),ctrl-space:toggle-sort,alt-b:ignore,alt-f:ignore,alt-bs:ignore' --no-unicode"
export GOPATH=~/.local/lib/go
export NVIM_LISTEN_ADDRESS=/tmp/nvimsocket
export PATH=~/.local/bin:"$PATH"
#export QT_QPA_PLATFORMTHEME=qt5ct
#export RANGER_LOAD_DEFAULT_RC=FALSE
export TERMINAL=termite
export VISUAL=nvim

# fix for java programs
wmname LG3D
export _JAVA_AWT_WM_NONREPARENTING=1

pidof -s /usr/lib/polkit-kde-authentication-agent-1 >/dev/null 2>&1 ||
    /usr/lib/polkit-kde-authentication-agent-1 2>/dev/null &
pidof -s dunst >/dev/null 2>&1 || dunst &
feh --bg-scale /home/ashish/.config/wall* &
nm-applet &
pidof -s unclutter >/dev/null 2>&1 || unclutter &
pidof -s clipdaemon >/dev/null 2>&1 || clipdaemon &
pidof -sx /home/ashish/.scripts/pulse_daemon.sh >/dev/null 2>&1 ||
    /home/ashish/.scripts/pulse_daemon.sh &
dsblocks &
systemctl start timeout.service &
