50      20      *       *       *       /home/ashish/.scripts/cron/dine.sh
20      1       *       *       *       /home/ashish/.scripts/cron/sleep.sh
0       22      *       *       6       /home/ashish/.scripts/cron/maintenance.sh
