SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="bind", ATTR{product}=="2.4G Wireless", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/ashish/.Xauthority", RUN+="/home/ashish/.scripts/systemd/mouse_udev.sh"
