# 2769 - Charging Only
# 2765 - MTP
# 2772 - PTP
# 2766 - RNDIS
# 2048 - MIDI

 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="22d9", MODE="0660", GROUP="adbusers"


# to automatically turn on media transfer and mount on plugging in the device

 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="22d9", ATTR{idProduct}=="2769|2772|2766|2048", TAG+="systemd", ENV{SYSTEMD_WANTS}+="android-usbmode@mtp.service"
 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="22d9", ATTR{idProduct}=="2765", RUN+="/usr/bin/rm -f /tmp/android-udev.lock"


# to automatically turn on usb tethering on plugging in the device

#SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="22d9", ATTR{idProduct}=="2769|2765|2772|2048", TAG+="systemd", ENV{SYSTEMD_WANTS}+="android-usbmode@rndis.service"
#SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="22d9", ATTR{idProduct}=="2766", RUN+="/usr/bin/rm -f /tmp/android-udev.lock"


# to automatically mount on plugging in the device in mtp mode

 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="22d9", ATTR{idProduct}=="2765", RUN+="/usr/bin/dash -c '[ -f /tmp/realme-automount.disable ] && exit 0; printenv ID_MODEL ID_SERIAL_SHORT DEVNAME >/tmp/android-mount.env; chown ashish:ashish /tmp/android-mount.env; systemctl restart android-mount.service'"


# to remove the stale lock file in case none of the above functionalities is enabled

#SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="22d9", RUN+="/usr/bin/rm -f /tmp/android-udev.lock"
