# first two entries of PRODUCT in `udevadm monitor --property --subsystem-match=usb`
#       04e8/6860 - Charging Only
#       04e8/6860 - MTP
#       04e8/6866 - PTP
#       04e8/6864 - RNDIS
#       04e8/686c - MIDI

# for adb to be accessible in all usb modes
 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="04e8", MODE="6860", GROUP="adbusers"

# to automatically mount on plugging in the device in mtp mode
 SUBSYSTEM=="usb", ACTION=="bind", ATTR{idVendor}=="04e8", ATTR{idProduct}=="6860", RUN+="/usr/bin/dash -c '[ -f /tmp/android-automount.disable ] && exit 0; printenv ID_VENDOR ID_MODEL ID_SERIAL_SHORT DEVNAME >/tmp/android-mount.env; chown ashish:ashish /tmp/android-mount.env; systemctl restart android-mount.service'"
