# 18d1/4ee7 - Charging Only
# 18d1/4ee2 - MTP
# 18di/4ee6 - PTP
# 05c6/9024 - RNDIS
# 18d1/4ee9 - MIDI

 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="18d1|05c6", MODE="0660", GROUP="adbusers"


# to automatically turn on media transfer and mount on plugging in the device

 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="18d1|05c6", ATTR{idProduct}=="4ee7|4ee6|9024|4ee9", TAG+="systemd", ENV{SYSTEMD_WANTS}+="android-usbmode@mtp.service"
 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="18d1", ATTR{idProduct}=="4ee2", RUN+="/usr/bin/rm -f /tmp/android-udev.lock"


# to automatically turn on usb tethering on plugging in the device

#SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="18d1", ATTR{idProduct}=="4ee7|4ee2|4ee6|4ee9", TAG+="systemd", ENV{SYSTEMD_WANTS}+="android-usbmode@rndis.service"
#SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="05c6", ATTR{idProduct}=="9024", RUN+="/usr/bin/rm -f /tmp/android-udev.lock"


# to automatically mount on plugging in the device in mtp mode

 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="18d1", ATTR{idProduct}=="4ee2", RUN+="/usr/bin/dash -c '[ -f /tmp/android-automount.disable ] && exit 0; printenv ID_VENDOR ID_MODEL ID_SERIAL_SHORT DEVNAME >/tmp/android-mount.env; chown ashish:ashish /tmp/android-mount.env; systemctl restart android-mount.service'"


# to remove the stale lock file in case none of the above functionalities is enabled

#SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="18d1|05c6", RUN+="/usr/bin/rm -f /tmp/android-udev.lock"
