# first two entries of PRODUCT in `udevadm monitor --property --subsystem-match=usb`
#       18d1/4ee7 - Charging Only
#       18d1/4ee2 - MTP
#       18di/4ee6 - PTP
#       05c6/9024 - RNDIS
#       18d1/4ee9 - MIDI

# for adb to be accessible in all usb modes
 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="18d1|05c6", MODE="0660", GROUP="adbusers"

# to automatically mount on plugging in the device in mtp mode

 SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="18d1", ATTR{idProduct}=="4ee2", RUN+="/usr/bin/dash -c '[ -f /tmp/android-automount.disable ] && exit 0; printenv ID_VENDOR ID_MODEL ID_SERIAL_SHORT DEVNAME >/tmp/android-mount.env; chown ashish:ashish /tmp/android-mount.env; systemctl restart android-mount.service'"
